.sign-file {
  padding: 20px 40px;

}

.header {
  margin-bottom: 35px;
}

.title {
  font-size: 28px;
  font-weight: 500;
}

header small {
  font-size: 16px;
  color: #57667c;
}


.sign-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.form-card {
  min-width: 300px;
}

.info-card ol {
  margin-left: 20px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  background-color: #2563eb;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1d4ed8;
}